releases/archive.7z

.gemini/
gha-creds-*.json
.idea/
__pycache__/
*.pyc

releases/build/build/
releases/build/dist/
releases/build/generated/
releases/build/*.spec
releases/build/installer_preped.py
installer/generated
